<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eat-Da-Burger</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <link rel="icon" sizes="32x32" href="/assets/img/burger.png">
    <script src="/assets/js/script.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>