<div class="container">
    <section id="page-name">
        <img src="/assets/img/burger.png" width="200" height="200" alt="burger" />
        {{!-- <iframe id="main-image" src="https://giphy.com/embed/UAXou95E6oPjW" width="480" height="326" frameBorder="0"
            class="giphy-embed" allowFullScreen></iframe> --}}
        <h1>Eat-Da-Burger</h1>
    </section>

    <section class="row">
        <div class="col-md-7 col-left">
            <table>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block}}
                {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-md-5 col-right">
            {{#each burgers}}
            {{#if devoured}}
            <div>{{id}}. {{burger_name}}</div>
            {{/if}}
            {{/each}}
        </div>
    </section>

    <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="What do you want to eat?"></textarea>
        </div>
        <button type="submit">Add Burger</button>
    </form>
</div>