body {
  background-color: #ffcc66;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
img {
  width: 200px;
  height: 200px;
}
ul {
  padding: 3px;
  margin: 3px;
}
#devoured-burgers {
  padding: 3px;
  margin: 3px;
}
.container {
  align-content: center;
  width: 100%;
  max-width: 970px;
}
.row {
  justify-content: center;
}
#header {
  align-content: center;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
#header-pic {
  align-content: center;
}
#burger-submit {
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
#undevoured-div {
  display: inline-block;
  width: 100%;
  max-width: 485px;
}
#devoured-div {
  display: inline-block;
  width: 100%;
  max-width: 485px;
}
.undevoured {
  width: 100%;
  font-size: 18px;
}
.devour-it {
  font-family: Arial, Helvetica, sans-serif;
}
#burger-input {
  display: inline-block;
  width: 520px;
  margin-top: 15px;
  margin-bottom: 7px;
  padding: 10px;
}
#instructions {
  padding: 10px;
  font-size: 14px;
}
#burger-handlebar {
  font-size: 18px;
}
#devoured-burgers {
  font-size: 18px;
}
