* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #ffcc66;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

h1 {
  color: green;
  font-size: 2em !important;
}

p {
  color: green;
}

#page-name {
  text-align: center;
  margin: 15px 0;
}

#main-image {
  height: 150px;
}

.col-left {
  padding-left: 20%;
}

.col-right {
  text-align: left;
}

.table-first-col {
  width: 270px;
}

td {
  height: 50px;
  vertical-align: center;
}

.create-form {
  margin-top: 10px;
  text-align: center;
}
